.paginadoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0.8rem;
}
.currentPag{
    width: 1.5rem;
    padding: 0.2rem;
    background-color: rgb(6, 148, 204);
    text-shadow: 1px 1px 1px rgb(2, 80, 143);
    border: none;
    text-align: center; 
    font-size: 0.8rem;
    margin: 0.05rem;
}
.currentPag:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(2, 80, 143);
}

.currentPagSelect{
    width: 1.5rem;
    padding: 0.2rem;
    border: none;
    transition: 0.8s;
    background-color: rgb(143, 2, 56);
    color: rgb(176, 206, 230);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}