.homeContainer{
    /*background-image: url('./bgHome.jpg');*/
    background-color: rgb(24, 26, 33);
    min-height: 100vh;
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;  
   
}