.navbar{
    display: flex;
    /* position: fixed; */
  
    width: 100%;
    color:antiquewhite;
    background-color: rgb(20, 20, 20);
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    /* flex-direction: row; */
    
}

.navbar h2:hover{
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.imgTitle{
    width: 250px;
    cursor: pointer;
}

.navbar select{
    height: 30px;
    color: antiquewhite;
    background-color: transparent;
    border: solid 1px antiquewhite;
    border-radius: 3px;
    cursor:pointer;
}

.navbar select option{
    background-color:rgb(37, 37, 37);
    cursor:pointer;

}